/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 20px auto;
  background-color: #eee;
  max-width: 991px;
}

hr {
  border: 3px solid tomato;
}
.row {
  display: flex;
}
.game-header {
  display: flex;
  padding: 1rem;
}
.game-header .game-name {
  flex: 1;
}
.game-header .word-group {
  flex: 1;
  text-align: right;
}
.game-header .word-group span {
  color: #e91e63;
  text-transform: capitalize;
  font-weight: bold;
}
.row .hangman-draw {
  flex: 1;
  background-color: #f7f7f7;
  height: 324px;
  padding: 20px;
}
.row .hangman-draw .draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
}
.row .hangman-draw .draw {
  display: none;
}

.row .hangman-draw .draw .stand:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: #222;
  left: 50%;
  margin-left: -2px;
}
.row .hangman-draw .draw .stand {
  display: none;
}

.row .hangman-draw .draw .hang:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  background: #222;
  left: 30px;
  top: 10px;
}
.row .hangman-draw .draw .hang:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: #222;
  top: 10px;
  left: 130px;
}
.row .hangman-draw .draw .hang {
  display: none;
}
.row .hangman-draw .draw .rope {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 107.5px;
  top: 46px;
  border: 4px dashed #222;
  transform: rotate(80deg);
}
.row .hangman-draw .draw .rope {
  display: none;
}
.row .hangman-draw .draw .man .head {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #222;
  top: 51px;
  left: 112px;
}

.row .hangman-draw .draw .man .head {
  display: none;
}
.row .hangman-draw .draw .man .body {
  height: 100px;
  width: 4px;
  background: #222;
  position: absolute;
  left: 130px;
  top: 87px;
}
.row .hangman-draw .draw .man .body {
  display: none;
}
.row .hangman-draw .draw .man .hands::before {
  left: 104px;
  transform: rotate(60deg);
}
.row .hangman-draw .draw .man .hands::after {
  left: 156px;
  transform: rotate(-60deg);
}

.row .hangman-draw .draw .man .hands::after,
.row .hangman-draw .draw .man .hands::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 4px;
  background-color: #222;
  top: 100px;
}
.row .hangman-draw .draw .man .hands {
  display: none;
}
.row .hangman-draw .draw .man .legs::before {
  left: 104px;
  transform: rotate(60deg);
}
.row .hangman-draw .draw .man .legs::after {
  left: 156px;
  transform: rotate(-60deg);
}
.row .hangman-draw .draw .man .legs::after,
.row .hangman-draw .draw .man .legs::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 4px;
  background-color: #222;
  top: 170px;
}
.row .hangman-draw .draw .man .legs {
  display: none;
}
.row .hangman-draw.wrong-1 .draw {
  display: block;
}
.row .hangman-draw.wrong-2 .stand {
  display: block;
}
.row .hangman-draw.wrong-3 .draw .hang {
  display: block;
}
.row .hangman-draw.wrong-4 .rope {
  display: block;
}
.row .hangman-draw.wrong-5 .man .head {
  display: block;
}
.row .hangman-draw.wrong-6 .man .body {
  display: block;
}
.row .hangman-draw.wrong-7 .man .hands {
  display: block;
}
.row .hangman-draw.wrong-8 .man .legs {
  display: block;
}
.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}
.letters.finished {
  pointer-events: none;
  opacity: 0.5;
}
.letters .letter-box {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 1.1rem;
  background: #00f75b;
  line-height: 55px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px;
  cursor: pointer;
}
.letters .letter-box.clicked {
  background-color: #bcb1b1;
  opacity: 0.2;
  pointer-events: none;
}
.letter-guess {
  min-height: 104px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.letter-guess span {
  background-color: White;
  width: 70px;
  margin-right: 10px;
  line-height: 70px;
  border-bottom: 4px solid #222;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 1.5rem;
}
.letter-guess span.space {
  background-color: transparent;
  border: none;
  position: relative;
}
.letter-guess span.space::before {
  content: "";
  background: #222;
  position: absolute;
  width: 20px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
